@font-face {
    font-family: 'neodgm';
    src: url('./neodgm.woff') format('woff');
}
body{
    margin: 0;
    padding: 0;
    font-family: 'neodgm';
    font-weight: normal;
    font-style: normal;
    background: url('../../load.gif');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;


}
.title {
    transform: translate(47%, 100%);
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}
.center{
    font-family: 'neodgm';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
}
.center h1{
    font-family: 'neodgm';
    text-align: center;
    margin: 50px 50px;
    padding: 0 0 20px 0;
    font-size: large;
    border-bottom: 1px solid silver;
}
.center p{
    font-family: 'neodgm';
    position: relative;
    border-bottom: 2px solid #adadad;
    margin :30px 70px;
    padding: 2%;


}

.login{
    position: absolute;
    top: 30%;
    left: 40%;
    background: white;
    border-radius: 10px;
    


}
.board_area h1{
    text-align: center;
}
.list-table{
    width: 100%;
    height: 70%;
}
.login form{
    padding: 0 40px;
    box-sizing: border-box;
}

.board-center{
    position: relative;
    top: 5%;
    left: 40%;

}

.list-table thead{
    text-align: center;
    background-color: #2980b9;
    border-radius: 10px;
}

.list-table tbody{
    text-align: center;
}

.write_btn a button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    transform: translate(-50%, -50%);
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.writeBtn {
    background-color: #1E8BF0;
    border: none;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.board_write div{
    position: absolute;
    right: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 10px;
}
.board_area{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.9);
}