body{
    margin: 0;
    padding: 0;
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    background: linear-gradient(120deg, #2980b9,#8e44ad);
    height: 100vh;
    overflow: hidden;


}
.title {
    transform: translate(47%, 100%);
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
}
.center h1{
    text-align: center;
    margin: 50px 50px;
    padding: 0 0 20px 0;
    font-size: large;
    border-bottom: 1px solid silver;
}
.center p{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin :30px 70px;
    padding: 2%;


}

.login{
    position: absolute;
    top: 30%;
    left: 40%;
    background: white;
    border-radius: 10px;
    


}
.login form{
    padding: 0 40px;
    box-sizing: border-box;
}

.list-table thead{
    text-align: center;
    background-color: #2980b9;
    border-radius: 10px;
}

.list-table tbody{
    text-align: center;
}

.write_btn a button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    transform: translate(-50%, -50%);
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.writeBtn {
    background-color: #1E8BF0;
    border: none;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.board_write div{
    position: absolute;
    right: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 10px;
}